{# devices table template #}
{% extends "base.html" %}
{% block content %}
<div id="alert_place"></div>
<div class="page-header">
<h1 class="devices">Devices</h1>
</div>
{% if filter_nav %}
{# filter for devices #}
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" id="filter_all"><a href="#" data-toggle="tooltip" title="Show all devices">All</a></li>
        {% for item in ['idle', 'testing', 'down', 'error']%}
        {# generates filters #}
            <li role="presentation" id="filter_{{ item }}"><a href="#" data-toggle="tooltip" title="Show devices filtered by {{ item }} status">{{ item }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
        <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>IPv4</th>
            <th>IPv6</th>
            <th>DNS name</th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Model</th>
            <th>Firmware</th>
            <th>Actions</th>
            <th>Associated tasks</th>
        </tr>
{{content | safe}}
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/{{script_file}}"></script>
{% endblock %}