{# template for task create, edit #}
{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1>
        {{title}}
    </h1>
</div>
    {% if msg %}
        {{msg|safe}}
    {% endif %}
    <form method="post" >
        {{form.hidden_tag()}}
        <div class="form-group">
        {{form.test.label}} {{form.test(class="form-control")}}
        </div>
        <div class="form-group">
        {{form.trex.label}} {{form.trex(class="form-control")}}
        </div>
        <div class="form-group">
        {{form.device.label}} {{form.device(class="form-control")}}
        </div>
        <div class="form-group">
        {{form.description.label}} {{form.description(class="form-control", required="required", placeholder="Short description...")}}
        </div>
        <div class="form-group">
        {{form.status.label}} {{form.status(class="form-control")}}
        {{note | safe}}
        </div>
        <div class="form-group">
        {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}