{% extends "base.html" %}
{% block content %}
    <h1>
        {{title}}
    </h1>
<div class="container">
        {{content | safe}}
</div>
{% if not no_data %}
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Packet per second data</div>
        <canvas id="graph_pps"></canvas>
        </div>
    </div>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Bit per second data</div>
        <canvas id="graph_bps"></canvas>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block script %}
{% if graph %}
<script src="/static/js/Chart.js"></script>
<script>
    var intervals = {{graph.intervals|safe}};
    var tx_pps = {{graph.tx_pps|safe}};
    var rx_pps = {{graph.rx_pps|safe}};
    var expected_pps = {{graph.expected_pps|safe}};
    var tx_bps = {{graph.tx_bps|safe}};
    var rx_bps = {{graph.rx_bps|safe}};
    var expected_bps = {{graph.expected_bps|safe}};

    var graph_pps = {
        labels: intervals,
        datasets: [
            {
                label: "TX pps",
                fill: false,
                //fillColor: "rgba(31, 171, 0, 1)",
                strokeColor: "rgba(31, 171, 0, 1)",
                pointColor: "rgba(31, 171, 0, 1)",
                pointStrokeColor: "rgba(31, 171, 0, 1)",
                pointHighlightFill: "rgba(31, 171, 0, 1)",
                pointHighlightStroke: "rgba(31, 171, 0, 1)",
                backgroundColor: "rgba(7, 250, 80, 1)",
                borderColor: "rgba(7, 250, 80, 1)",
                data: tx_pps
            },
            {
                label: "RX pps",
                fill: false,
                //fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                backgroundColor: "rgba(0, 136, 255, 1)",
                borderColor: "rgba(0, 136, 255, 1)",
                data: rx_pps
            },
            {
                label: "Expected pps",
                fill: false,
                //fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                backgroundColor: "rgba(255, 132, 0, 1)",
                borderColor: "rgba(255, 132, 0, 1)",
                data: expected_pps
            }
        ]
    };

    var graph_bps = {
        labels: intervals,
        datasets: [
            {
                label: "TX bps",
                fill: false,
                //fillColor: "rgba(31, 171, 0, 1)",
                strokeColor: "rgba(31, 171, 0, 1)",
                pointColor: "rgba(31, 171, 0, 1)",
                pointStrokeColor: "rgba(31, 171, 0, 1)",
                pointHighlightFill: "rgba(31, 171, 0, 1)",
                pointHighlightStroke: "rgba(31, 171, 0, 1)",
                backgroundColor: "rgba(7, 250, 80, 1)",
                borderColor: "rgba(7, 250, 80, 1)",
                data: tx_bps
            },
            {
                label: "RX bps",
                fill: false,
                //fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                backgroundColor: "rgba(0, 136, 255, 1)",
                borderColor: "rgba(0, 136, 255, 1)",
                data: rx_bps
            },
            {
                label: "Expected bps",
                fill: false,
                //fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                backgroundColor: "rgba(255, 132, 0, 1)",
                borderColor: "rgba(255, 132, 0, 1)",
                data: expected_bps
            }
        ]
    };

    // Get the context of the canvas element we want to select
    var chart_pps = document.getElementById("graph_pps").getContext("2d");
    var graph_pps = new Chart(chart_pps, {
        type: 'line',
        data: graph_pps,
        options: {
            responsive: true,
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var tx = 'TX: ' + tx_pps[tooltipItem.index] + ' pps';
                        var rx = 'RX: ' + rx_pps[tooltipItem.index] + ' pps';
                        var expected = 'Expected rate: ' + expected_pps[tooltipItem.index] + ' pps';
                        return [tx, rx, expected];
                    },
                    title: function(tooltipItem, data) {
                        interval = tooltipItem[0].xLabel + ' sec';
                        return interval;
                    },
                }
            }
        }
    });

    var chart_bps = document.getElementById("graph_bps").getContext("2d");
        var graph_bps = new Chart(chart_bps, {
            type: 'line',
            data: graph_bps,
            options: {
                responsive: true,
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var tx = 'TX: ' + tx_bps[tooltipItem.index] + ' bps';
                            var rx = 'RX: ' + rx_bps[tooltipItem.index] + ' bps';
                            var expected = 'Expected rate: ' + expected_bps[tooltipItem.index] + ' bps';
                            return [tx, rx, expected];
                        },
                        title: function(tooltipItem, data) {
                            interval = tooltipItem[0].xLabel + ' sec';
                            return interval;
                        },
                    }
                }
            }
        });
</script>
{% endif %}
{% endblock %}
