{# template for test create, edit #}
{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="page-header">
    <h1>
        {{title}}
    </h1>
</div>
    {% if msg %}
        {{msg|safe}}
    {% endif %}
    <form class="form-horizontal" name="new_bundle_test" method="post" >
        {{form.csrf_token}}
        <div class="form-group">
        {{form.name.label}} {{form.name(class="form-control", placeholder="Test_name", required="required")}}
        </div>
        <div class="form-group">
        {{form.description.label}} {{form.description(class="form-control", placeholder="Short description...")}}
        </div>
        {# place for template #}
        <div class="form-group">
        <h3>Test section</h3>
        <hr />
         {% if notes.test_list %}
            {% for item in notes.test_list %}
                <p class="help-block">{{item}}<p>
            {% endfor %}
        {% endif %}
        </div>
        {# items of bundle #}
        <span id="bundle_length" style="display:none;">{{ bundle|length }}</span>
        <div class="generator">
            <div>
                {# current test values#}
                {% for item in bundle %}
                <div class="entr">
                    <div class="form-group">

                        <label for="test-{{loop.index0}}-test_list">Test</label>
                        <select class="form-control" id="test-{{loop.index0}}-test_list" name="test-{{loop.index0}}-test_list">
                        <option selected value="{{ item.test_id }}">{{ item.view }}</option>
                        {# filling selection for test #}
                        {% for test in test_list %}
                            {% if test[0] != item.test_id %}
                                <option value="{{ test[0]|safe }}">{{ test[1]|safe }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="test-{{loop.index0}}-test_iter">Number of iterations</label>
                        <input class="form-control" id="test-{{loop.index0}}-test_iter" name="test-{{loop.index0}}-test_iter" placeholder="Number of iterations. Minimum 1, maximum 100." value="{{item.iter}}" type="text">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input id="test-{{loop.index0}}-test_iter_random" name="test-{{loop.index0}}-test_iter_random" value="y" type="checkbox">
                            <label for="test-{{loop.index0}}-test_iter_random">Randomize number of iterations</label>
                        </div>
                        {% if notes.test_iter_random %}
                            {% for item in notes.test_iter_random %}
                                <p class="help-block">{{item}}<p>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <input id="test-{{loop.index0}}-csrf_token" name="test-{{loop.index0}}-csrf_token" value="{{csrf_value}}" type="hidden">
                    <div class="form-group">
                    {% if loop.last %}
                        <button class="btn btn-success add_btn" type="button">Add one more</button>
                    {% else %}
                        <button class="btn del_btn btn-danger" type="button">Delete test</button>
                    {% endif %}
                    </div>
                        <hr />
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                {{form.randomize}}
                {{form.randomize.label}}
            </div>
            {% if notes.randomize %}
                {% for item in notes.randomize %}
                    <p class="help-block">{{item}}<p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
        {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/{{script_file}}"></script>
{% endblock %}