{% extends "base.html" %}
{% block content %}
<div id="alert_place"></div>
<h1>T-rexes</h1>
<div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="table-responsive">
        <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>IPv4 Address</th>
            <th>IPv6 Address</th>
            <th>DNS name</th>
            <th>Port</th>
            <th>VM ID</th>
            <th>Host</th>
            <th>Mode</th>
            <th>Status</th>
            <th>Software version</th>
            <th>Actions</th>
            <th>Description</th>
        </tr>
{{content | safe}}
        </table>
    </div>
</div>
{% endblock %}
